In [1]:
import pandas as pd
import numpy as np

In [2]:
#1.leer el archivo csv “tarea” y mostrar las primeras 5 filas (.head()).

data = pd.read_csv("tarea.csv")
data.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
#2.leer el archivo csv “tarea” y mostrar las primeras 3 filas (,nrows=3).

data[0:3]

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31

In [4]:
#3.Imprime el contenido de una columna como serie (tan sólo imprimí la columna entre corchetes!)
#No la entiendo mucho esta consigna

data.iloc[:,0]

0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
         ...
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: carat, Length: 53940, dtype: float64

In [5]:
#Probé con esto, pero genera lo mismo que usar iloc. No entiendo qué quiere decir con "imprimirla entre corchetes"
df = pd.Series(data['cut'])
df

0            Ideal
1          Premium
2             Good
3          Premium
4             Good
           ...
53935        Ideal
53936         Good
53937    Very Good
53938      Premium
53939        Ideal
Name: cut, Length: 53940, dtype: object

In [16]:
data[["cut"]] #Acá hay otra forma que dá otro output

             cut
0          Ideal
1        Premium
2           Good
3        Premium
4           Good
...          ...
53935      Ideal
53936       Good
53937  Very Good
53938    Premium
53939      Ideal

[53940 rows x 1 columns]

In [6]:
#4.crear una nueva serie 'calidad-color' (utilizá corchetes para definir el nombre de la serie).
#Esta tampoco la entiendo del todo

data["calidad-color"] = data["cut"] + "-" + data["color"]
data

,carat,cut,color,clarity,depth,table,price,x,y,z,calidad-color
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,Ideal-E
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,Premium-E
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,Good-E
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,Premium-I
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,Good-J
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,Ideal-D
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,Good-D
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,Very Good-D
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,Premium-H
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,Ideal-D

In [7]:
#5.encontrar el número de filas y columnas (.shape)) y el tipo de datos de cada columna (.dtypes).

data.shape #Acá le pido el número de filas y columnas

(53940, 11)

In [8]:
data.dtypes #Acá le pido el type de cada columna. No entiendo pq cuando pongo las dos en una misma
            # cell se cancelan los comandos.

carat            float64
cut               object
color             object
clarity           object
depth            float64
table            float64
price              int64
x                float64
y                float64
z                float64
calidad-color     object
dtype: object

In [9]:
#6.resumir sólo las columnas 'objeto' (.describe(include=['object'])).

data.describe(include=["object"]) #Pido la descripción de todas las columnas que tengan el type objeto

          cut  color clarity calidad-color
count   53940  53940   53940         53940
unique      5      7       8            35
top     Ideal      G     SI1       Ideal-G
freq    21551  11292   13065          4884

In [10]:
#7.renombrar dos de las columnas (.rename(columns={…}). 
#Imprimir antes y después incluyendo una línea que describa cada una (ej print("Original"))

data_original = data.copy() #Hago una copia del original
data.rename(columns={"clarity":"claridad", "price":"precio"}, inplace = True) #Cambio el nombre de dos columnas
print("Columnas renombradas")
data.head(1)

Columnas renombradas

,carat,cut,color,claridad,depth,table,precio,x,y,z,calidad-color
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,Ideal-E

In [11]:
print("Columnas con nombres originales")
data_original.head(1)

Columnas con nombres originales

,carat,cut,color,clarity,depth,table,price,x,y,z,calidad-color
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,Ideal-E

In [12]:
#8.eliminar la segunda y tercer columna (.drop()).

data.drop(columns = ["cut", "color"]) #No me cambia el df, si le pongo ", inplace = True" sí.

       carat claridad  depth  table  precio     x     y     z calidad-color
0       0.23      SI2   61.5   55.0     326  3.95  3.98  2.43       Ideal-E
1       0.21      SI1   59.8   61.0     326  3.89  3.84  2.31     Premium-E
2       0.23      VS1   56.9   65.0     327  4.05  4.07  2.31        Good-E
3       0.29      VS2   62.4   58.0     334  4.20  4.23  2.63     Premium-I
4       0.31      SI2   63.3   58.0     335  4.34  4.35  2.75        Good-J
...      ...      ...    ...    ...     ...   ...   ...   ...           ...
53935   0.72      SI1   60.8   57.0    2757  5.75  5.76  3.50       Ideal-D
53936   0.72      SI1   63.1   55.0    2757  5.69  5.75  3.61        Good-D
53937   0.70      SI1   62.8   60.0    2757  5.66  5.68  3.56   Very Good-D
53938   0.86      SI2   61.0   58.0    2757  6.15  6.12  3.74     Premium-H
53939   0.75      SI2   62.2   55.0    2757  5.83  5.87  3.64       Ideal-D

[53940 rows x 9 columns]

In [13]:
#9.eliminar múltiples filas a la vez (usar axis=0 que se refiere a las filas). 

data.drop([502,1708,91], axis = 0) #No me cambia el df, si le pongo ", inplace = True" sí.

,carat,cut,color,claridad,depth,table,precio,x,y,z,calidad-color
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,Ideal-E
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,Premium-E
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,Good-E
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,Premium-I
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,Good-J
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,Ideal-D
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,Good-D
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,Very Good-D
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,Premium-H
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,Ideal-D

In [14]:
#10.ordenar la columna `cut’ en orden ascendente (tarea.cut.sort_values). ¿Qué tipo de objeto es `cut’ usándolo así? 

#No entiendo además si solo te pide la columna cut o todo el df
data.sort_values("cut") # Si se pone ",inplace = True" se hace el sort en el df. No sé si te lo pide o no.

,carat,cut,color,claridad,depth,table,precio,x,y,z,calidad-color
3850,1.01,Fair,F,SI2,64.8,55.0,3477,6.37,6.26,4.10,Fair-F
51464,1.20,Fair,G,I1,66.6,57.0,2376,6.57,6.50,4.34,Fair-G
51466,0.90,Fair,G,SI2,65.4,57.0,2376,6.01,5.97,3.98,Fair-G
10237,1.26,Fair,D,SI2,64.5,59.0,4746,6.75,6.71,4.34,Fair-D
10760,1.01,Fair,E,SI1,69.5,55.0,4853,6.00,5.94,4.15,Fair-E
...,...,...,...,...,...,...,...,...,...,...,...
7402,0.33,Very Good,G,VS2,62.8,54.0,579,4.40,4.42,2.77,Very Good-G
43101,0.57,Very Good,E,SI2,58.8,57.3,1384,5.42,5.46,3.21,Very Good-E
16893,1.00,Very Good,G,VS2,62.2,58.0,6743,6.35,6.39,3.96,Very Good-G
16898,1.00,Very Good,D,VS2,59.6,60.0,6745,6.52,6.57,3.90,Very Good-D
21164,1.00,Very Good,E,VVS2,61.7,55.0,9324,6.38,6.42,3.95,Very Good-E

In [32]:
#Acá hay una forma que solo hace sort de la columna cut
data[["cut"]].sort_values("cut")

             cut
3850        Fair
51464       Fair
51466       Fair
10237       Fair
10760       Fair
...          ...
7402   Very Good
43101  Very Good
16893  Very Good
16898  Very Good
21164  Very Good

[53940 rows x 1 columns]

In [50]:
# Con esta otra forma se puede hacer esto y comparar con el original
cut = data[["cut"]].sort_values("cut")
print("El viejo type sería {} y el nuevo {}".format(data.cut.dtypes, cut.cut.dtypes))

El viejo type sería object y el nuevo object

In [18]:
type(data_original["cut"]) #No sé si se refiere a esto con la última pregunta
data.dtypes                #o a esto

carat            float64
cut               object
color             object
claridad          object
depth            float64
table            float64
precio             int64
x                float64
y                float64
z                float64
calidad-color     object
dtype: object

In [ ]:
#11.ordenar toda la base por 'carat' en orden descendente. 
data.sort_values(
    by="carat",
    ascending=False
    )

In [ ]:
#EXTRA: Ahora una "cut" en orden ascendente y "carat" en orden descendente:
data.sort_values(
    by=["cut", "carat"],
    ascending=[True, False]
    )

In [ ]:
#12.filtrar aquellas filas que x>5, y>5 y z>5.

data = data[((data["x"]>5) & (data["y"]>5) & (data["z"]>5))]
data

In [ ]:
#Reseteo el index
data = data.reset_index()
data = data.drop(labels="index", axis=1)
data

In [ ]:
#13.filtrar las filas para que sólo muestren `carat’ mayor a 0,4 (usar for x in tarea.carat:…)

#Esta es la forma que encontré de hacerlo usando un for:
for i in range(len(data)):
    if data.loc[i,'carat'] < 0.4:
        data = data.drop(labels=i, axis=0)
#data

#Pero es más fácil hacerlo usando algo parecido a la consigna anterior:
data = data[data['carat'] > 0.4]

In [ ]:
#14.filtrar filas que son Premium o Ideal (tarea.cut.sin() o usar |).

In [ ]:
#15.calcular summary statistics de  `carat’ (.describe).

In [ ]:
#16.calcular la media de cada columna numérica (.mean()).

In [ ]:
#17.calcular la media del precio de cada tipo de `cut’ (tarea.groupby().price.mean()).

In [ ]:
#18.calcular la cantidad, el mínimo y el máximo precio para cada `cut’ ((tarea.groupby().price.agg([]))) .

In [ ]:
#19.mostrar los valores que puede tomar `cut’ (.unique()).

In [ ]:
#20.contar cuántas veces aparece cada valor de `cut’ ((tarea.cut.value_counts()))

In [ ]:
#21.mostrar los porcentajes de cada valor de `cut’.

In [ ]:
#22.calcular una tabla de doble entrada con `cut’ y `color’ (pd.crosstab)

In [ ]:
#23.crear un histograma de ‘cut’ (.plot(kind=’hist’)).

In [ ]:
#24.crear un gráfico de barras de 'cut' .

In [ ]:
#25.contar el número de missing valies en cada columna (.isnull().sum()).

In [ ]:
#26.comprobar el número de filas y columnas y eliminarlas si falta algún valor en una fila (.dropna(how='any')).

In [ ]:
#27.eliminar una fila si faltan todos los valores ((.dropna(how='all')).

In [ ]:
#28.mostrar las filas 0, 2, 5 y todas las columnas (.loc[]).

In [ ]:
#29.mostrar las filas 0 a 2 (inclusive) y las columnas 'color' y 'precio' .

In [ ]:
#30.mostrar las filas en las que la 'cut' es 'Premium' más la columna 'color'.

In [ ]:
#31.obtener 5 filas de muestra al azar (.sample()).

In [ ]:
#32.obtener una muestra del 75% de las filas sin reemplazarlas (.sample(frac=0.75, random_state=XX))

In [ ]:
#33.contar las filas duplicadas.